img{
    height: 75px;
    width: 75px;
}
#para{
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
table{
    align-items: center;
    margin-top: 20px;
}
label{
    font-size: .75rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input{
    height: 30px;
    width: 250px;
    border: 1px solid grey;
    border-radius: 5px;
}
button{
    height: 30px;
    width: 255px;
    background-color: rgb(27, 92, 27);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 3px;
    margin-top: 30px;
}
button:hover{
    background-color: rgb(5, 66, 5);
}

#div1{
   margin-left: 38%; 
}
#forgot{
    margin-left: 85px;
}
a{
    text-decoration: none;
    color: rgb(83, 83, 216);
    font-size: small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#new{
    font-size: .75rem;
}

#div2{
    background-color: rgb(238, 245, 248);
    border-radius: 5px;
    border: 1px solid rgb(221, 216, 216);
    height: 220px;
    width: 300px;
}
#div3{
    background-color: rgb(238, 245, 248);
    border-radius: 5px;
    border: 1px solid rgb(221, 216, 216);
    height: 70px;
    width: 300px;
    text-align: center;
    margin-top: 25px;
}
#div3 p{
    margin-top: 20px;
}
#div4{
    margin-top: 30px;
    margin-left: 20px;
    position: relative;
}